ConsoleApp/Connected Services/PrintPaymentServiceReference/PrintPaymentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PrintPaymentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54034/PrintPaymentService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54034/PrintPaymentService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPrintPaymentService_TransactionPayOnline_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionPayOnline" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionPayOnline_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionPayOnlineResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionAddQuotasPrintSystem_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionAddQuotasPrintSystem" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionAddQuotasPrintSystem_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionAddQuotasPrintSystemResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionFaculties_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionFaculties" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionFaculties_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionFacultiesResponse" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionPointOfSale_InputMessage">
    <wsdl:part name="parameters" element="tns:TransactionPointOfSale" />
  </wsdl:message>
  <wsdl:message name="IPrintPaymentService_TransactionPointOfSale_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransactionPointOfSaleResponse" />
  </wsdl:message>
  <wsdl:portType name="IPrintPaymentService">
    <wsdl:operation name="TransactionPayOnline">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionPayOnline" message="tns:IPrintPaymentService_TransactionPayOnline_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionPayOnlineResponse" message="tns:IPrintPaymentService_TransactionPayOnline_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionAddQuotasPrintSystem">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionAddQuotasPrintSystem" message="tns:IPrintPaymentService_TransactionAddQuotasPrintSystem_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionAddQuotasPrintSystemResponse" message="tns:IPrintPaymentService_TransactionAddQuotasPrintSystem_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionFaculties">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionFaculties" message="tns:IPrintPaymentService_TransactionFaculties_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionFacultiesResponse" message="tns:IPrintPaymentService_TransactionFaculties_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransactionPointOfSale">
      <wsdl:input wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionPointOfSale" message="tns:IPrintPaymentService_TransactionPointOfSale_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPrintPaymentService/TransactionPointOfSaleResponse" message="tns:IPrintPaymentService_TransactionPointOfSale_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPrintPaymentService" type="tns:IPrintPaymentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransactionPayOnline">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/TransactionPayOnline" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionAddQuotasPrintSystem">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/TransactionAddQuotasPrintSystem" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionFaculties">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/TransactionFaculties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransactionPointOfSale">
      <soap:operation soapAction="http://tempuri.org/IPrintPaymentService/TransactionPointOfSale" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PrintPaymentService">
    <wsdl:port name="BasicHttpBinding_IPrintPaymentService" binding="tns:BasicHttpBinding_IPrintPaymentService">
      <soap:address location="http://localhost:54034/PrintPaymentService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>